
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/index.css" rel="stylesheet" />
    <link href="~/Content/fotos.css" rel="stylesheet" />
    <title>Cozinha - House and Construction</title>
</head>
<body>
    
    <div class="card">
        <img src="~/img/Produtos/Ferramentas/caixa_ferramenta.jpg" alt="Denim Jeans" style="width:100%">
        <h1>Caixa de ferramentas</h1>
        <p class="preco">R$ 100,00</p>
        <p>Caixa de ferramentas ótimas para armazenar suas ferramentas.</p>
        <p><button>Ver mais</button></p>
    </div>

    <div class="card">
        <img src="~/img/Produtos/banheira.png" alt="Denim Jeans" style="width:100%">
        <h1>Banheira Branca</h1>
        <p class="preco">R$ 500,00</p>
        <p>Banheira branca grande.</p>
        <p><button>Ver mais</button></p>
    </div>

    <div class="card">
        <img src="~/img/Produtos/banheira.png" alt="Denim Jeans" style="width:100%">
        <h1>Banheira Branca</h1>
        <p class="preco">R$ 500,00</p>
        <p>Banheira branca grande.</p>
        <p><button>Ver mais</button></p>
    </div>

    <div class="card">
        <img src="~/img/Produtos/banheira.png" alt="Denim Jeans" style="width:100%">
        <h1>Banheira Branca</h1>
        <p class="preco">R$ 500,00</p>
        <p>Banheira branca grande.</p>
        <p><button>Ver mais</button></p>
    </div>

    <div class="card">
        <img src="~/img/Produtos/banheira.png" alt="Denim Jeans" style="width:100%">
        <h1>Banheira Branca</h1>
        <p class="preco">R$ 500,00</p>
        <p>Banheira branca grande.</p>
        <p><button>Ver mais</button></p>
    </div>

    <div class="card">
        <img src="~/img/Produtos/banheira.png" alt="Denim Jeans" style="width:100%">
        <h1>Banheira Branca</h1>
        <p class="preco">R$ 500,00</p>
        <p>Banheira branca grande.</p>
        <p><button>Ver mais</button></p>
    </div>
</body>
</html>
