@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/index.css" rel="stylesheet" />
    <link href="~/Content/fotos.css" rel="stylesheet" />
    <title>Elétrica - House and Construction</title>
</head>
<body>
    
    <div class="card">
        <img src="~/img/Produtos/Elétrica/adaptador_universal_2pt_2tomadas.jpg" alt="Denim Jeans" style="width:100%">
        <h1>Adaptador Universal</h1>
        <p class="preco">R$ 27,00</p>
        <p>adaptador universal 2pt 2tomadas.</p>
        <p><button>Ver mais</button></p>
    </div>

    <div class="card">
        <img src="~/img/Produtos/Elétrica/10_Cabo_Flexível_1,5MM_750V_SIL_Preto.jpg" alt="Denim Jeans" style="width:100%">
        <h1>Cabo Flexivel</h1>
        <p class="preco">R$ 61,00</p>
        <p>Cabo Flexível 1,5MM 750V SIL Preto</p>
        <p><button>Ver mais</button></p>
    </div>

    <div class="card">
        <img src="~/img/Produtos/Elétrica/cabo_flexivel_cobrecom.jpg" alt="Denim Jeans" style="width:100%">
        <h1>Cabo Flexivel</h1>
        <p class="preco">R$ 80,00</p>
        <p>Cabo Flexivel Cobrecom.</p>
        <p><button>Ver mais</button></p>
    </div>

    <div class="card">
        <img src="~/img/Produtos/Elétrica/9_cabo_flex_25mm_1kv_preto.jpg" alt="Denim Jeans" style="width:100%">
        <h1>Cabo Flexivel</h1>
        <p class="preco">R$ 70,00</p>
        <p>cabo flex 25mm 1kv preto</p>
        <p><button>Ver mais</button></p>
    </div>

    <div class="card">
        <img src="~/img/Produtos/Elétrica/interruptor-vertical-4x2-modulo-interruptor-paralelo-liz-branco-10a-250v.jpg" alt="Denim Jeans" style="width:100%">
        <h1>Interruptor</h1>
        <p class="preco">R$ 10,00</p>
        <p>interruptor vertical 4x2 modulo interruptor paralelo liz branco 10a 250v</p>
        <p><button>Ver mais</button></p>
    </div>

    <div class="card">
        <img src="~/img/Produtos/Elétrica/kit-conectores-eletrofita-3-pistas-20a-tomada.jpg" alt="Denim Jeans" style="width:100%">
        <h1>Kit Conectores</h1>
        <p class="preco">R$ 30,00</p>
        <p>kit conectores eletrofita 3 pistas 20a tomada.</p>
        <p><button>Ver mais</button></p>
    </div>

    <div class="card">
        <img src="~/img/Produtos/Elétrica/4_Tomada-10A-250V-com-placa-branca-Miluz-Schneider.png" alt="Denim Jeans" style="width:100%">
        <h1>Plug Tomada Femea</h1>
        <p class="preco">R$ 25,00</p>
        <p>plug tomada femea 2p + T branco.</p>
        <p><button>Ver mais</button></p>
    </div>

    <div class="card">
        <img src="~/img/Produtos/Elétrica/tomada-com-2-polos-terra-horizontal-com-placa-branco.png" alt="Denim Jeans" style="width:100%">
        <h1>Tomada</h1>
        <p class="preco">R$ 20,00</p>
        <p>tomada com 2 polos terra horizontal com placa branco.</p>
        <p><button>Ver mais</button></p>
    </div>

    <div class="card">
        <img src="~/img/Produtos/Elétrica/1_Conjunto-Interruptor-Simples-Tomada-Eletrica-10A-BRAVA.jpg" alt="Denim Jeans" style="width:100%">
        <h1>Conjunto Interruptor Simples</h1>
        <p class="preco">R$ 22,00</p>
        <p>Conjunto Interruptor Simples Tomada Eletrica 10A - BRAVA</p>
        <p><button>Ver mais</button></p> 
    </div>

    <div class="card">
        <img src="~/img/Produtos/Elétrica/2_Conjunto-Tomada-Branco-2PT-10A-250V-tramontina.jpg" alt="Denim Jeans" style="width:100%">
        <h1>Conjunto Tomada</h1>
        <p class="preco">R$ 20,00</p>
        <p>Conjunto Tomada Branco 2PT 10A 250V - Tramontina</p>
        <p><button>Ver mais</button></p>
    </div>

    <div class="card">
        <img src="~/img/Produtos/Elétrica/3_tomada-tramontina-giz-3-entradas-universais-10a.jpg" alt="Denim Jeans" style="width:100%">
        <h1>Tomada Tramontina</h1>
        <p class="preco">R$ 29,00</p>
        <p>Tomada Tramontina giz 3 entradas universais 10a</p>
        <p><button>Ver mais</button></p>
    </div>

    <div class="card">
        <img src="~/img/Produtos/Elétrica/4_Tomada-10A-250V-com-placa-branca-Miluz-Schneider.png" alt="Denim Jeans" style="width:100%">
        <h1>Tomada</h1>
        <p class="preco">R$ 27,00</p>
        <p>Tomada 10A 250V com placa branca - Miluz Schneider</p>
        <p><button>Ver mais</button></p>
    </div>

    <div class="card">
        <img src="~/img/Produtos/Elétrica/5_adaptador-de-tomada-benjamin-novo-padrao-3-tomadas-branco.jpg" alt="Denim Jeans" style="width:100%">
        <h1>Adaptador</h1>
        <p class="preco">R$ 26,00</p>
        <p>adaptador de tomada benjamin novo padrao 3 tomadas branco</p>
        <p><button>Ver mais</button></p>
    </div>

    <div class="card">
        <img src="~/img/Produtos/Elétrica/6_kit-10-tomada-20a-2p-t-placa-interruptor-2-teclas.jpg" alt="Denim Jeans" style="width:100%">
        <h1>Kit Tomada</h1>
        <p class="preco">R$ 31,00</p>
        <p>Kit 10 Tomada 20a 2p t placa interruptor 2 teclas.</p>
        <p><button>Ver mais</button></p>
    </div>

    <div class="card">
        <img src="~/img/Produtos/Elétrica/1_Conjunto-Interruptor-Simples-Tomada-Eletrica-10A-BRAVA.jpg" alt="Denim Jeans" style="width:100%">
        <h1>Interruptor Simples + Tomada </h1>
        <p class="preco">R$ 15,00</p>
        <p>Interruptor Simples + Tomada 20A com Placa Habitat - FAME.</p>
        <p><button>Ver mais</button></p>
    </div>

    <div class="card">
        <img src="~/img/Produtos/Elétrica/3_tomada-tramontina-giz-3-entradas-universais-10a.jpg" alt="Denim Jeans" style="width:100%">
        <h1>Tomada Universal</h1>
        <p class="preco">R$ 30,00</p>
        <p>Tomada Universal 2P+T 10A Com Placa 4x2 (Branco) - Montreal_Plus</p>
        <p><button>Ver mais</button></p>
    </div>


</body>
</html>
