@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/index.css" rel="stylesheet" />
    <link href="~/Content/fotos.css" rel="stylesheet" />
    <title>Ferramentas - House and Construction</title>
</head>
<body>
    

    <div class="card">
        <img src="~/img/Produtos/Ferramentas/caixa_ferramenta.jpg" alt="Denim Jeans" style="width:100%">
        <h1>Caixa de ferramentas</h1>
        <p class="preco">R$ 100,00</p>
        <p>Caixa de ferramentas ótimas para armazenar suas ferramentas.</p>
        <p><button>Ver mais</button></p>
    </div>

    <div class="card">
        <img src="~/img/Produtos/Ferramentas/alicate.jpg" alt="Denim Jeans" style="width:100%">
        <h1>Alicate</h1>
        <p class="preco">R$ 25,00</p>
        <p>Alicate.</p>
        <p><button>Ver mais</button></p>
    </div>

    <div class="card">
        <img src="~/img/Produtos/Ferramentas/Arco-de-Serra-Fixo-12-Pol-tramontina.jpg" alt="Denim Jeans" style="width:100%">
        <h1>Arco de Serra</h1>
        <p class="preco">R$ 20,00</p>
        <p>Arco de Serra Fixo 12 Pol - tramontina.</p>
        <p><button>Ver mais</button></p>
    </div>

    <div class="card">
        <img src="~/img/Produtos/Ferramentas/furadeira-de-impacto.jpg" alt="Denim Jeans" style="width:100%">
        <h1>Furadeira de Impacto</h1>
        <p class="preco">R$ 170,00</p>
        <p>Furadeira de Impacto.</p>
        <p><button>Ver mais</button></p>
    </div>

    <div class="card">
        <img src="~/img/Produtos/Ferramentas/martelo.jpg" alt="Denim Jeans" style="width:100%">
        <h1>Martelo</h1>
        <p class="preco">R$ 28,00</p>
        <p>Martelo.</p>
        <p><button>Ver mais</button></p>
    </div>

    <div class="card">
        <img src="~/img/Produtos/Ferramentas/regua.jpg" alt="Denim Jeans" style="width:100%">
        <h1>Regua</h1>
        <p class="preco">R$ 90,00</p>
        <p>Regua .</p>
        <p><button>Ver mais</button></p>
    </div>

    <div class="card">
        <img src="~/img/Produtos/Ferramentas/serra_circular_185mm_7_1_4_5007n_220v_p_makita_7269_1_20180827144942.jpg" alt="Denim Jeans" style="width:100%">
        <h1>Banheira Branca</h1>
        <p class="preco">R$ 700,00</p>
        <p>serra circular 185mm 5007n 220v makita.</p>
        <p><button>Ver mais</button></p>
    </div>

    <div class="card">
        <img src="~/img/Produtos/Ferramentas/trena-emborrachada-ima-3mx16mm-patroll.png" alt="Denim Jeans" style="width:100%">
        <h1>Trena</h1>
        <p class="preco">R$ 15,00</p>
        <p>trena emborrachada ima 3mx16mm-patroll.</p>
        <p><button>Ver mais</button></p>
    </div>

    <div class="card">
        <img src="~/img/Produtos/Ferramentas/1_Trena_aço_10mx25mm_curta_emborrachada-Vonder_Plus.jpg" alt="Denim Jeans" style="width:100%">
        <h1>Trena aço</h1>
        <p class="preco">R$ 30,00</p>
        <p>Trena aço 10mx25mm curta emborrachada - Vonder Plus</p>
        <p><button>Ver mais</button></p>
    </div>

    <div class="card">
        <img src="~/img/Produtos/Ferramentas/2_Trena_de_5_Metros_com_Freio_Duplo-tramontina.jpg" alt="Denim Jeans" style="width:100%">
        <h1>Trena</h1>
        <p class="preco">R$ 20,00</p>
        <p>Trena de 5 Metros com Freio Duplo - Tramontina</p>
        <p><button>Ver mais</button></p>
    </div>

    <div class="card">
        <img src="~/img/Produtos/Ferramentas/3_trena_com_fita_de_aco_de_5_metros_com_trava.jpg" alt="Denim Jeans" style="width:100%">
        <h1>Trena</h1>
        <p class="preco">R$ 22,00</p>
        <p> Trena com fita de aco de 5 metros com trava.</p>
        <p><button>Ver mais</button></p>
    </div>

    <div class="card">
        <img src="~/img/Produtos/Ferramentas/4_Alicate-Universal-de-8-Pol.jpg" alt="Denim Jeans" style="width:100%">
        <h1>Alicate</h1>
        <p class="preco">R$ 35,00</p>
        <p>Alicate Universal de 8 Pol.</p>
        <p><button>Ver mais</button></p>
    </div>

    <div class="card">
        <img src="~/img/Produtos/Ferramentas/5_Alicate_Universal_8_Pol_Especial_com_Cortador_de_arame.jpg" alt="Denim Jeans" style="width:100%">
        <h1>Alicate Universal</h1>
        <p class="preco">R$ 40,00</p>
        <p>Alicate Universal 8 Pol Especial com Cortador de arame.</p>
        <p><button>Ver mais</button></p>
    </div>

    <div class="card">
        <img src="~/img/Produtos/Ferramentas/6_ferramenta-manual-alicate-de-corte-turquesa.jpg" alt="Denim Jeans" style="width:100%">
        <h1>Turquesa</h1>
        <p class="preco">R$ 20,00</p>
        <p> Ferramenta manual alicate de corte turquesa.</p>
        <p><button>Ver mais</button></p>
    </div>

    <div class="card">
        <img src="~/img/Produtos/Ferramentas/trena-starrett.jpg" alt="Denim Jeans" style="width:100%">
        <h1>Trena</h1>
        <p class="preco">R$ 12,00</p>
        <p>Trena Starret .</p>
        <p><button>Ver mais</button></p>
    </div>

    <div class="card">
        <img src="~/img/Produtos/Ferramentas/jogo-de-chaves-de-fenda-com-7-pecas-tramontina.png" alt="Denim Jeans" style="width:100%">
        <h1>Jogo de chave de fenda</h1>
        <p class="preco">R$ 26,00</p>
        <p>jogo de chaves de fenda com 7 pecas - Tramontina .</p>
        <p><button>Ver mais</button></p>
    </div>



</body>
</html>
