@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/index.css" rel="stylesheet" />
    <link href="~/Content/fotos.css" rel="stylesheet" />
    <title>Iluminação - House and Construction</title>
</head>
<body>
   

    <div class="card">
        <img src="~/img/Produtos/Iluminacao/lampada-halogena-a55-70w-110v-2700k-golden.png" alt="Denim Jeans" style="width:100%">
        <h1>Lampada Halogena</h1>
        <p class="preco">R$ 8,00</p>
        <p>lampada halogena a55 70w 110v 2700k - golden</p>
        <p><button>Ver mais</button></p>
    </div>

    <div class="card">
        <img src="~/img/Produtos/Iluminacao/lampada-halogena-bulbo-70w-110v-2800k-luz-amarela-osram.png" alt="Denim Jeans" style="width:100%">
        <h1>Lampada halogena</h1>
        <p class="preco">R$ 7,00</p>
        <p>lampada halogena bulbo 70w 110v 2800k luz amarela-osram.</p>
        <p><button>Ver mais</button></p>
    </div>

    <div class="card">
        <img src="~/img/Produtos/Iluminacao/lampada-led-buldo-13.5-100w-e27-3000k-100-240v-philips.jpg" alt="Denim Jeans" style="width:100%">
        <h1>Lampada Led</h1>
        <p class="preco">R$ 18,00</p>
        <p>lampada led buldo 13.5 100w e27 3000k 100 240v-philips.</p>
        <p><button>Ver mais</button></p>
    </div>

    <div class="card">
        <img src="~/img/Produtos/Iluminacao/lustre-candelabro-cristal-12-braços-nice-startec.jpg" alt="Denim Jeans" style="width:100%">
        <h1>Lustre Candelabro</h1>
        <p class="preco">R$ 770,00</p>
        <p>lustre candelabro cristal 12 braços nice-startec.</p>
        <p><button>Ver mais</button></p>
    </div>

    <div class="card">
        <img src="~/img/Produtos/Iluminacao/Lustre_Pendente_De_Cristal_Acrílico_Manucrillic_Magnifico.jpg" alt="Denim Jeans" style="width:100%">
        <h1>Lustre</h1>
        <p class="preco">R$ 680,00</p>
        <p>Lustre Pendente De Cristal Acrílico Manucrillic Magnifico.</p>
        <p><button>Ver mais</button></p>
    </div>

    <div class="card">
        <img src="~/img/Produtos/Iluminacao/Lâmpada_Halógena_Econômica_42W_127V_E27_OL_Iluminação.jpg" alt="Denim Jeans" style="width:100%">
        <h1>Lampada Halogena</h1>
        <p class="preco">R$ 10,00</p>
        <p>Lâmpada Halógena Econômica 42W 127V E27 OL Iluminação.</p>
        <p><button>Ver mais</button></p>
    </div>

    <div class="card">
        <img src="~/img/Produtos/Iluminacao/Lâmpada_LED_16W_E27_Branco_Frio_Inmetro.jpg" alt="Denim Jeans" style="width:100%">
        <h1>Lampada LED</h1>
        <p class="preco">R$ 20,00</p>
        <p>Lâmpada LED 16W E27 Branco Frio Inmetro.</p>
        <p><button>Ver mais</button></p>
    </div>

    <div class="card">
        <img src="~/img/Produtos/Iluminacao/Lâmpada_Led_Bulbo_9w_Bivolt_Luz_Branca_Lúmens_Galaxy.jpg" alt="Denim Jeans" style="width:100%">
        <h1>Lampada Led</h1>
        <p class="preco">R$ 22,00</p>
        <p>Lâmpada Led Bulbo 9w Bivolt Luz Branca Lúmens Galaxy</p>
        <p><button>Ver mais</button></p>
    </div>

    <div class="card">
        <img src="~/img/Produtos/Iluminacao/1_pendente-nix-preto-e-dourado-aluminio-luminaria-30cm.jpg" alt="Denim Jeans" style="width:100%">
        <h1>Pendente</h1>
        <p class="preco">R$ 130,00</p>
        <p>Pendente nix preto e dourado aluminio luminaria 30cm.</p>
        <p><button>Ver mais</button></p>
    </div>

    <div class="card">
        <img src="~/img/Produtos/Iluminacao/2_luminaria-05l-trevisan-wengue.jpg" alt="Denim Jeans" style="width:100%">
        <h1>Luminaria</h1>
        <p class="preco">R$ 140,00</p>
        <p> Luminaria 05l trevisan wengue.</p>
        <p><button>Ver mais</button></p>
    </div>

    <div class="card">
        <img src="~/img/Produtos/Iluminacao/3_luminaria_pendente_prismatica_16_pol_cristal_pendente_branco.png" alt="Denim Jeans" style="width:100%">
        <h1>Luminaria</h1>
        <p class="preco">R$ 160,00</p>
        <p>Luminaria Pendente Prismatica 16 pol cristal pendente branco.</p>
        <p><button>Ver mais</button></p>
    </div>

    <div class="card">
        <img src="~/img/Produtos/Iluminacao/4_abajur-elegante-de-madeira-Bivolt.jpg" alt="Denim Jeans" style="width:100%">
        <h1>Abajur</h1>
        <p class="preco">R$ 120,00</p>
        <p>Abajur elegante de madeira - Bivolt.</p>
        <p><button>Ver mais</button></p>
    </div>

    <div class="card">
        <img src="~/img/Produtos/Iluminacao/5_abatjour-de-vidro-com-4-bolas-Carmelia.jpg" alt="Denim Jeans" style="width:100%">
        <h1>Abajur</h1>
        <p class="preco">R$ 130,00</p>
        <p>Abajur de vidro com 4 bolas - Carmelia.</p>
        <p><button>Ver mais</button></p>
    </div>

    <div class="card">
        <img src="~/img/Produtos/Iluminacao/6_abajur-de-mesa-02-cor-branco-metal-com-vidro.jpg" alt="Denim Jeans" style="width:100%">
        <h1>Abajur</h1>
        <p class="preco">R$ 110,00</p>
        <p>Abajur de mesa 02 cor branco metal com vidro.</p>
        <p><button>Ver mais</button></p>
    </div>

    <div class="card">
        <img src="~/img/Produtos/Iluminacao/7_abajur-baju-preto-bronze-37339-occa-moderna.jpg" alt="Denim Jeans" style="width:100%">
        <h1>Abajur</h1>
        <p class="preco">R$ 115,00</p>
        <p>Abajur baju preto bronze occa moderna.</p>
        <p><button>Ver mais</button></p>
    </div>

    <div class="card">
        <img src="~/img/Produtos/Iluminacao/8_abajur-cristal-mesa-quarto-sala-decoracao-47cm.jpg" alt="Denim Jeans" style="width:100%">
        <h1>Abajur</h1>
        <p class="preco">R$ 124,00</p>
        <p>Abajur cristal mesa quarto sala decoracao 47cm.</p>
        <p><button>Ver mais</button></p>
    </div>



</body>
</html>
