
@{
    ViewBag.Title = "ListaDesejo";
    Layout = "~/Views/Shared/LayoutLogado.cshtml";
}

<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8" />
    <title>Lista de desejos - House and Construction</title>
    <style>
        h1 {
            text-align: center;
            font-weight: bold;
            text-shadow: 0px 0px 3px #1e90ff;
            color: #1e90ff;
        }

        .table {
            width: 50% !important;
            margin: 50px auto 0px auto !important;
        }

        #divOpcoes {
            margin: 50px auto;
        }

            #divOpcoes li {
                padding: 50px;
                border: 1px solid #ccc;
                margin: 10px 25px 10px 25px;
                width: 20%;
                float: left;
                list-style-type: none;
            }

        #listaOpcoes {
            display: inline-block;
            /*float: left;*/
            width: 70%;
            height: 30%;
            margin: 0 100px 0 325px;
        }

        #h2 {
            text-align: center;
            color: #0094ff;
            text-shadow: .6px .6px .6px #0094ff;
            font-weight: bold;
        }

        #idPara {
            font-size: 12pt;
            color: #0094ff;
            font-weight: bold;
            text-shadow: 0 .5px 1px #0094ff;
            text-align: center;
        }  
     
        #par {
            margin: auto auto;
            text-align: center;
        }

        #image {
            width: 64px;
            height: 64px;
            margin: 10px 45px;
        }

        td {
            color: #000;
            font-weight: bold;
        }

        th {
            color: #1e90ff;
            font-weight: bold;
        }

        #heart{
            color: #ff0000;
            font-size: 50px;
            text-shadow: 0px 0px  3.5px #ff0000!important;
            
        }
    </style>
</head>
<body>
    <h1>Lista de Desejos <span id="heart">&hearts;</span></h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Código do Cupom</th>
                <th>Data de Início</th>
                <th>Data de Validade</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>20/10/2019</td>
                <td>25/02/2020</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>20/10/2019</td>
                <td>25/02/2020</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>20/10/2019</td>
                <td>25/02/2020</td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>20/10/2019</td>
                <td>25/02/2020</td>
            </tr>
        </tbody>
    </table><br /><br /><br /><br />
    <div id="divOpcoes">
        <ul id="listaOpcoes">
            <a href="@Url.Action("Cupons","Home")" target="_blank"><li><img src="~/img/Icones/Ic_log/icons8-vale-64.png" id="image" /><p id="par"><span id="idPara">Cupons</span></p></li></a>
            <a href="@Url.Action("ListaDesejo","Home")" target="_blank"><li><img src="~/img/Icones/Ic_log/icons8-romance-64.png" id="image" /><p id="par"><span id="idPara">Lista de Desejos</span></p></li></a>
            <a href="@Url.Action("Index","Home")" target="_blank"><li><img src="~/img/Icones/Ic_log/icons8-caminhão-64.png" id="image" /><p id="par"><span id="idPara">Pedidos</span></p></li></a>
            <a href="@Url.Action("Index","Home")" target="_blank"><li><img src="~/img/Icones/Ic_log/icons8-alterar-usuário-masculino-64.png" id="image" /><p id="par"><span id="idPara">Editar Perfil</span></p></li></a>
        </ul>
    </div>
    <br /><br />

</body>
</html>

