@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/index.css" rel="stylesheet" />
    <link href="~/Content/fotos.css" rel="stylesheet" />
    <title>Materiais para Construção - House and Construction</title>
</head>
<body>
   


    <div class="card">
        <img src="~/img/Produtos/MateriaisConstrucao/acoplador-circular-aquapluv.jpg" alt="Denim Jeans" style="width:100%">
        <h1>Acoplador</h1>
        <p class="preco">R$ 10,00</p>
        <p>acoplador circular-aquapluv.</p>
        <p><button>Ver mais</button></p>
    </div>

    <div class="card">
        <img src="~/img/Produtos/MateriaisConstrucao/bloco-ceramico-5x14x24cm-avermelhado-ceramica-nova-uniao.png" alt="Denim Jeans" style="width:100%">
        <h1>Bloco ceramico</h1>
        <p class="preco">R$ 2,00</p>
        <p>bloco ceramico 5x14x24cm avermelhado ceramica-nova uniao.</p>
        <p><button>Ver mais</button></p>
    </div>

    <div class="card">
        <img src="~/img/Produtos/Ferramentas/caixa_ferramenta.jpg" alt="Denim Jeans" style="width:100%">
        <h1>Caixa de Ferramentas</h1>
        <p class="preco">R$ 100,00</p>
        <p>Caixa de ferramentas usada para armazenar.</p>
        <p><button>Ver mais</button></p>
    </div>

    <div class="card">
        <img src="~/img/Produtos/MateriaisConstrucao/cimentovotoran.jpg.png" alt="Denim Jeans" style="width:100%"/>
        <h1>Cimento</h1>
        <p class="preco">R$ 21,00</p>
        <p>Cimento Votoran.</p>
        <p><button>@Html.ActionLink("Ver Mais", "DetProd", "Home")</button></p>
    </div>

    <div class="card">
        <img src="~/img/Produtos/MateriaisConstrucao/condutor-circular-aquapluv-style-88mm-branco-tigre.png" alt="Denim Jeans" style="width:100%">
        <h1>Condutor Circular</h1>
        <p class="preco">R$ 80,00</p>
        <p>condutor circular aquapluv style 88mm branco tigre.</p>
        <p><button>Ver mais</button></p>
    </div>

    <div class="card">
        <img src="~/img/Produtos/MateriaisConstrucao/JOELHO_90°_ESGOTO_50MM_AMANCO.jpg" alt="Denim Jeans" style="width:100%">
        <h1>Joelho</h1>
        <p class="preco">R$ 3,00</p>
        <p>JOELHO 90° ESGOTO 50MM - AMANCO.</p>
        <p><button>Ver mais</button></p>
    </div>

    <div class="card">
        <img src="~/img/Produtos/MateriaisConstrucao/telha-ondulada-stilo-200x95cm-onduline.png" alt="Denim Jeans" style="width:100%">
        <h1>Telha Ondulada</h1>
        <p class="preco">R$ 70,00</p>
        <p>telha ondulada stilo 200x95cm-onduline.</p>
        <p><button>Ver mais</button></p>
    </div>

    <div class="card">
        <img src="~/img/Produtos/MateriaisConstrucao/TelhadeFibrocimento_Ondulada_5mm_244x92cm-Infibra.jpg" alt="Denim Jeans" style="width:100%">
        <h1>Telha de Fibrocimento</h1>
        <p class="preco">R$ 60,00</p>
        <p>Telha de Fibrocimento Ondulada 5mm 244x92cm-Infibra.</p>
        <p><button>Ver mais</button></p>
    </div>

    <div class="card">
        <img src="~/img/Produtos/MateriaisConstrucao/1_bloco-ceramico-vedacao-frisado-6-furos-9x14x24.jpg" alt="Denim Jeans" style="width:100%">
        <h1>Bloco Ceramico</h1>
        <p class="preco">R$ 4,00</p>
        <p>Bloco ceramico vedacao frisado 6 furos 9x14x24.</p>
        <p><button>Ver mais</button></p>
    </div>

    <div class="card">
        <img src="~/img/Produtos/MateriaisConstrucao/2_bloco_ceramico_vedacao_11,5x14x24cm_nova_conquista.jpg" alt="Denim Jeans" style="width:100%">
        <h1>Bloco Ceramico </h1>
        <p class="preco">R$ 2,50</p>
        <p>Bloco ceramico vedacao 11,5x14x24cm nova conquista.</p>
        <p><button>Ver mais</button></p>
    </div>

    <div class="card">
        <img src="~/img/Produtos/MateriaisConstrucao/3_bloco-ceramico-11-5x14x11-5cm-avermelhado-ceramica-nova-uniao.png" alt="Denim Jeans" style="width:100%">
        <h1>Bloco Ceramico Nova Uniao</h1>
        <p class="preco">R$ 1,00</p>
        <p>Bloco ceramico 5x14x11 avermelhado ceramica - nova-uniao.</p>
        <p><button>Ver mais</button></p>
    </div>

    <div class="card">
        <img src="~/img/Produtos/MateriaisConstrucao/4_bloco-ceramico-vedacao-115x19x29.jpg" alt="Denim Jeans" style="width:100%">
        <h1>Bloco Ceramico</h1>
        <p class="preco">R$ 1,00</p>
        <p>bloco ceramico vedacao 115x19x29.</p>
        <p><button>Ver mais</button></p>
    </div>

    <div class="card">
        <img src="~/img/Produtos/MateriaisConstrucao/5_Cimento_Csn_cp_Ii-e-32_(saco 50kg).jpg" alt="Denim Jeans" style="width:100%">
        <h1>Cimento</h1>
        <p class="preco">R$ 22,00</p>
        <p>Cimento Csn cp Ii e 32 (saco 50kg)</p>
        <p><button>Ver mais</button></p>
    </div>

    <div class="card">
        <img src="~/img/Produtos/MateriaisConstrucao/6_cimento-obras-estruturais-50kg-votorantim.png" alt="Denim Jeans" style="width:100%">
        <h1>Cimento Votorantim</h1>
        <p class="preco">R$ 20,00</p>
        <p>cimento obras estruturais 50kg votorantim.</p>
        <p><button>Ver mais</button></p>
    </div>

    <div class="card">
        <img src="~/img/Produtos/MateriaisConstrucao/7_argamassa-colante-para-porcelanato-interno-branco-saco-plastico-20kg-quartzolit.png" alt="Denim Jeans" style="width:100%">
        <h1>Argamassa Quartzolit</h1>
        <p class="preco">R$ 19,00</p>
        <p>argamassa colante para porcelanato interno branco saco plastico 20kg - quartzolit.</p>
        <p><button>Ver mais</button></p>
    </div>

    <div class="card">
        <img src="~/img/Produtos/MateriaisConstrucao/8_Escada-Tesoura-com-Duplo-Acesso-195-Metr-cogumelo.jpg" alt="Denim Jeans" style="width:100%">
        <h1>Escada</h1>
        <p class="preco">R$ 70,00</p>
        <p> Escada Tesoura com Duplo Acesso 1,95 Metros - cogumelo.</p>
        <p><button>Ver mais</button></p>
    </div>





</body>
</html>
