
@{
    ViewBag.Title = "MensagemFaleConosco";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class=" row">
    <div class="col-md-6">

        <img src="~/img/Desenho.jpg"  style="height:700px;width:700px;"/>

    </div>
   <div class="col-md-6">
    <div style="margin: 200px auto 380px auto; width: 500px;">
        <h2>Mensagem Enviada com Sucesso</h2>
        <br /><br />
        <h2>Entraremos em contato com você em breve fique atento ao seu email ou a seu perfil em nosso site para conferiar a resposta.</h2>

        <a href="@Url.Action("Index","Home")" style="font-size:20px;">Voltar a Home</a>


    </div>
   </div>
</div>

