@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/index.css" rel="stylesheet" />
    <link href="~/Content/fotos.css" rel="stylesheet" />
    <title>Pisos - House and Construction</title>
</head>
<body>
    

    <div class="card">
        <img src="~/img/Produtos/PisosRevestimentos/argamassa-multiplo-uso-gsl-santaluzia.jpg" alt="Denim Jeans" style="width:100%">
        <h1>Argamassa</h1>
        <p class="preco">R$ 19,00</p>
        <p>argamassa multiplo uso gsl-santaluzia.</p>
        <p><button>Ver mais</button></p>
    </div>

    <div class="card">
        <img src="~/img/Produtos/PisosRevestimentos/Argamassa-Porcelanato-Interno-Cinza-20-KG.jpg" alt="Denim Jeans" style="width:100%">
        <h1>Argamassa</h1>
        <p class="preco">R$ 20,00</p>
        <p>Argamassa-Porcelanato-Interno-Cinza-20-KG.</p>
        <p><button>Ver mais</button></p>
    </div>

    <div class="card">
        <img src="~/img/Produtos/PisosRevestimentos/porcelanato-esmaltado-acetinado-borda-bold-nice-plus-branco-60x60cm-eliane.png" alt="Denim Jeans" style="width:100%">
        <h1>Porcelanato Esmaltado</h1>
        <p class="preco">R$ 24,00</p>
        <p>porcelanato esmaltado acetinado borda bold nice plus branco 60x60cm-eliane.</p>
        <p><button>Ver mais</button></p>
    </div>

    <div class="card">
        <img src="~/img/Produtos/PisosRevestimentos/Porcelanato-retificado-90x90cm-Carrara-polido-bianco-Portobello.jpg" alt="Denim Jeans" style="width:100%">
        <h1>Porcelanato Retificado</h1>
        <p class="preco">R$ 30,00</p>
        <p>Porcelanato retificado 90x90cm Carrara polido bianco-Portobello.</p>
        <p><button>Ver mais</button></p>
    </div>

    <div class="card">
        <img src="~/img/Produtos/PisosRevestimentos/porcelanato-retificado-delta-bege-amadeirado-54-x-54-cm_z_large.jpg" alt="Denim Jeans" style="width:100%">
        <h1>Porcelanato Retificado</h1>
        <p class="preco">R$ 35,00</p>
        <p>porcelanato-retificado-delta-bege-amadeirado-54-x-54-cm_z_large.</p>
        <p><button>Ver mais</button></p>
    </div>

    <div class="card">
        <img src="~/img/Produtos/PisosRevestimentos/porcelanato-retificado-vercelli-64x64.jpg" alt="Denim Jeans" style="width:100%">
        <h1>Porcelanato Retificado</h1>
        <p class="preco">R$ 20,00</p>
        <p>porcelanato retificado vercelli 64x64.</p>
        <p><button>Ver mais</button></p>
    </div>

    <div class="card">
        <img src="~/img/Produtos/PisosRevestimentos/Rejunte-Acrilico-1Kg-branco-Quartzolit.jpg" alt="Denim Jeans" style="width:100%">
        <h1>Rejunte Acrilico</h1>
        <p class="preco">R$ 20,00</p>
        <p>Rejunte Acrilico 1Kg branco-Quartzolit.</p>
        <p><button>Ver mais</button></p>
    </div>

    <div class="card">
        <img src="~/img/Produtos/PisosRevestimentos/REJUNTE-CERAMICAS-PLASTICO-1KG-SIMP.png" alt="Denim Jeans" style="width:100%">
        <h1>Rejunte</h1>
        <p class="preco">R$ 23,00</p>
        <p>REJUNTE CERAMICAS PLASTICO 1KG SIMP.</p>
        <p><button>Ver mais</button></p>
    </div>

    <div class="card">
        <img src="~/img/Produtos/PisosRevestimentos/1_porcelanato-esmaltado-borda-reta-goiania-49x49cm-incefra.png" alt="Denim Jeans" style="width:100%">
        <h1>Porcelanato</h1>
        <p class="preco">R$ 27,00</p>
        <p>porcelanato esmaltado borda reta goiania 49x49cm - Incefra.</p>
        <p><button>Ver mais</button></p>
    </div>

    <div class="card">
        <img src="~/img/Produtos/PisosRevestimentos/2_porcelanato-deck-legno-borda-reta-maso-marrom-60x60cm-biancogres.png" alt="Denim Jeans" style="width:100%">
        <h1>Porcelanato Biancogres</h1>
        <p class="preco">R$ 31,00</p>
        <p>Porcelanato deck legno borda reta maso marrom 60x60cm - biancogres.</p>
        <p><button>Ver mais</button></p>
    </div>

    <div class="card">
        <img src="~/img/Produtos/PisosRevestimentos/3_porcelanato-realce-acetinado-native-marfim-61x61.jpg" alt="Denim Jeans" style="width:100%">
        <h1>Porcelanato</h1>
        <p class="preco">R$ 33,00</p>
        <p>porcelanato realce acetinado native marfim 61x61.</p>
        <p><button>Ver mais</button></p>
    </div>

    <div class="card">
        <img src="~/img/Produtos/PisosRevestimentos/4_Porcelanato_Delta_Vesúvio_70x70_Acetinado.jpg" alt="Denim Jeans" style="width:100%">
        <h1>Porcelanato Delta Vesúvio</h1>
        <p class="preco">R$ 23,00</p>
        <p>Porcelanato Delta Vesúvio 70x70 Acetinado.</p>
        <p><button>Ver mais</button></p>
    </div>

    <div class="card">
        <img src="~/img/Produtos/PisosRevestimentos/5_Piso_Cerejeira_45x45_Caixa_2,50m²_12_Peças_PEI3-Triunfo.jpg" alt="Denim Jeans" style="width:100%">
        <h1>Piso Cerejeira</h1>
        <p class="preco">R$ 12,00</p>
        <p>Piso Cerejeira 45x45 Caixa 2,50m² 12 Peças PEI3 - Triunfo.</p>
        <p><button>Ver mais</button></p>
    </div>

    <div class="card">
        <img src="~/img/Produtos/PisosRevestimentos/6_piso-ceramico-Hd-borda-bold-Ethios-bege-45x45cm-formigres.png" alt="Denim Jeans" style="width:100%">
        <h1>Piso Ceramico</h1>
        <p class="preco">R$ 10,00</p>
        <p>piso ceramico Hd borda bold Ethios bege 45x45cm - Formigres.</p>
        <p><button>Ver mais</button></p>
    </div>

    <div class="card">
        <img src="~/img/Produtos/PisosRevestimentos/7_Piso_Cerbras_46x46_Carajás_2,30mts_na_Caixa.jpg" alt="Denim Jeans" style="width:100%">
        <h1>Piso Cerbras</h1>
        <p class="preco">R$ 13,00</p>
        <p>Piso Cerbras 46x46 Carajás 2,30mts na Caixa.</p>
        <p><button>Ver mais</button></p>
    </div>

    <div class="card">
        <img src="~/img/Produtos/PisosRevestimentos/8_piso-laminado-eucafloor-evidence-click-7mmx21-7cmx1-35m.jpg" alt="Denim Jeans" style="width:100%">
        <h1>Piso Laminado Eucafloor</h1>
        <p class="preco">R$ 11,00</p>
        <p>piso laminado eucafloor evidence click 7mmx21-7cmx1 35m.</p>
        <p><button>Ver mais</button></p>
    </div>

</body>
</html>
