@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/index.css" rel="stylesheet" />
    <link href="~/Content/fotos.css" rel="stylesheet" />
    <title>Portas - House and Construction</title>
</head>
<body>
    
    <div class="card">
        <img src="~/img/Produtos/PortasJanelas/folha-de-porta-standard-freijo-210x80cm-vert.png" alt="Denim Jeans" style="width:100%">
        <h1>Folha de porta</h1>
        <p class="preco">R$ 100,00</p>
        <p>folha de porta standard freijo 210x80cm-vert.</p>
        <p><button>Ver mais</button></p>
    </div>

    <div class="card">
        <img src="~/img/Produtos/PortasJanelas/janela-basculante-aluminio-2-folhas-sasazaki-60cmx60cmx3-3cm1500x1500.jpg" alt="Denim Jeans" style="width:100%">
        <h1>Janela Basculante Aluminio</h1>
        <p class="preco">R$ 500,00</p>
        <p>janela basculante aluminio 2 folhas sasazaki 60cmx60cmx3 3cm1500x1500.</p>
        <p><button>Ver mais</button></p>
    </div>

    <div class="card">
        <img src="~/img/Produtos/PortasJanelas/janela-de-aluminio-ramassol-slim-modular.jpg" alt="Denim Jeans" style="width:100%">
        <h1>Janela de Aluminio</h1>
        <p class="preco">R$ 300,00</p>
        <p>janela de aluminio ramassol slim modular.</p>
        <p><button>Ver mais</button></p>
    </div>

    <div class="card">
        <img src="~/img/Produtos/PortasJanelas/janela-integrada-veneziana-aluminio-3-folhas-120cm-150cm-sasazaki1500x1500.jpg" alt="Denim Jeans" style="width:100%">
        <h1>Janela veneziana</h1>
        <p class="preco">R$ 400,00</p>
        <p>janela integrada veneziana aluminio 3 folhas 120cm x 150cm sasazaki.</p>
        <p><button>Ver mais</button></p>
    </div>

    <div class="card">
        <img src="~/img/Produtos/PortasJanelas/JaneladeCorreremMadeiraEucaliptoQuadriculadacomFerragens-Batentede10_Cm.jpg" alt="Denim Jeans" style="width:100%">
        <h1>Janela de Correr</h1>
        <p class="preco">R$ 500,00</p>
        <p>Janela de Correr em Madeira Eucalipto Quadriculada com Ferragens Batente de 10cm.</p>
        <p><button>Ver mais</button></p>
    </div>

    <div class="card">
        <img src="~/img/Produtos/PortasJanelas/Janela_basculante_3folhasbranco_080x080x3_3_Sasazaki.jpg" alt="Denim Jeans" style="width:100%">
        <h1>Janela Basculante</h1>
        <p class="preco">R$ 520,00</p>
        <p>Janela basculante 3 folhas branco 080x080x3 Sasazaki.</p>
        <p><button>Ver mais</button></p>
    </div>

    <div class="card">
        <img src="~/img/Produtos/PortasJanelas/porta_pivotante_madeira_maciça_cedro_rosa_com_batente.jpg" alt="Denim Jeans" style="width:100%">
        <h1>Porta pivotante</h1>
        <p class="preco">R$ 2500,00</p>
        <p>porta pivotante madeira maciça cedro rosa com batente.</p>
        <p><button>Ver mais</button></p>
    </div>

    <div class="card">
        <img src="~/img/Produtos/PortasJanelas/Porta_Standard_Lisa_Primer_Branca_62cm.jpg" alt="Denim Jeans" style="width:100%">
        <h1>Porta</h1>
        <p class="preco">R$ 200,00</p>
        <p>Porta Standard Lisa Primer Branca 62cm</p>
        <p><button>Ver mais</button></p>
    </div>

    <div class="card">
        <img src="~/img/Produtos/PortasJanelas/1_porta_lisa_semi_solida_angelim.jpg" alt="Denim Jeans" style="width:100%">
        <h1>Porta lisa</h1>
        <p class="preco">R$ 150,00</p>
        <p>porta lisa semi solida - angelim</p>
        <p><button>Ver mais</button></p>
    </div>

    <div class="card">
        <img src="~/img/Produtos/PortasJanelas/2_kit_porta_pronta_branca_lisa_Pormade.jpg" alt="Denim Jeans" style="width:100%">
        <h1>kit porta pronta</h1>
        <p class="preco">R$ 1000,00</p>
        <p>kit porta pronta branca lisa Pormade</p>
        <p><button>Ver mais</button></p>
    </div>

    <div class="card">
        <img src="~/img/Produtos/PortasJanelas/3_porta-de-correr-de-madeira-pantografica-arco.jpg" alt="Denim Jeans" style="width:100%">
        <h1>Porta de correr</h1>
        <p class="preco">R$ 400,00</p>
        <p>porta de correr de madeira pantografica - arco</p>
        <p><button>Ver mais</button></p>
    </div>

    <div class="card">
        <img src="~/img/Produtos/PortasJanelas/4_Porta_De_Alumínio_Social_Postigo_2,10x0,80_Direita_Linha_All_Modular.jpg" alt="Denim Jeans" style="width:100%">
        <h1>Porta De Alumínio</h1>
        <p class="preco">R$ 130,00</p>
        <p>Porta De Alumínio Social Postigo 2,10 x 0,80 Direita Linha All Modular</p>
        <p><button>Ver mais</button></p>
    </div>

    <div class="card">
        <img src="~/img/Produtos/PortasJanelas/5_porta-de-correr-balcao-6-folhas-aluminio-plus.jpg" alt="Denim Jeans" style="width:100%">
        <h1>porta de correr balcao</h1>
        <p class="preco">R$ 140,00</p>
        <p>porta de correr balcao 6 folhas aluminio plus</p>
        <p><button>Ver mais</button></p>
    </div>

    <div class="card">
        <img src="~/img/Produtos/PortasJanelas/6_Porta_PalhetaCom_Visor_Duplo_Alumínio_Brilhan_e_Linha_Design.jpg" alt="Denim Jeans" style="width:100%">
        <h1>Porta Palheta</h1>
        <p class="preco">R$ 200,00</p>
        <p>Porta Palheta Com Visor Duplo Alumínio Brilhante e Linha Design</p>
        <p><button>Ver mais</button></p>
    </div>

    <div class="card">
        <img src="~/img/Produtos/PortasJanelas/7_janela-de-correr-aluminio-4-folhas-com-grade-e-vidro-caribe-100cmx120cm-branco.jpg" alt="Denim Jeans" style="width:100%">
        <h1>Porta</h1>
        <p class="preco">R$ 510,00</p>
        <p>Janela de correr aluminio 4 folhas com grade e vidro caribe 100cmx120cm branco</p>
        <p><button>Ver mais</button></p>
    </div>

    <div class="card">
        <img src="~/img/Produtos/PortasJanelas/8_Janela_Extra_100x12x150cm_Grade_Quadrada-Crv.jpg" alt="Denim Jeans" style="width:100%">
        <h1>Porta</h1>
        <p class="preco">R$ 450,00</p>
        <p>Janela Extra 100x12x150cm Grade Quadrada - Crv</p>
        <p><button>Ver mais</button></p>
    </div>


</body>
</html>
